In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
df = pd.read_csv("taxi_zone_lookup.csv", encoding="utf-8")

In [5]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [6]:
df.dtypes

LocationID       int64
Borough         object
Zone            object
service_zone    object
dtype: object

In [7]:
# 2) 컬럼명을 DB용으로 통일(소문자)
df.columns = [c.strip().lower() for c in df.columns]  # locationid, borough, zone, service_zone

# 3) Postgres 연결
engine = create_engine("postgresql+psycopg2://root:root@localhost:5432/ny_taxi")

# 4) 적재 (테이블이 이미 있으니 append)
df.to_sql("zones", engine, schema="public", if_exists="append", index=False)   
#df.to_sql(name="zones", engine, if_exists="replace") # 강의
 
print("Inserted rows:", len(df))

Inserted rows: 265